.App {
    text-align: center;
}
.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}
.App-intro {
    font-size: large;
}
.csvData {
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
}
.custom-tooltip {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
}
.datePickerClass {
    float: left;
    width: 100%;
    max-width: 275px;
}
.datePickerClass .caret {
    margin-left: 10px!important;
}
.mainContent {
    padding-left: 20px;
    padding-right: 20px;
}
.recharts-responsive-container {
    margin-left: -20px;
}
.legend-item-0 {
    margin-left: 50px;
}
.toolTipClass {
    min-height: 80px;
    /*background-color: white;*/
}
